@font-face {
	src: url("../fonts/raleway/Raleway-Regular.ttf");
	font-family: "Raleway Regular";
}

@font-face {
	src: url("./fonts/raleway/Raleway-Bold.ttf");
	font-family: "Raleway Bold";
}

@font-face {
	src: url("./fonts/raleway/Raleway-SemiBold.ttf");
	font-family: "Raleway Semibold";
}

@font-face {
	src: url("./fonts/raleway/Raleway-ExtraBold.ttf");
	font-family: "Raleway Extrabold";
}

@font-face {
	src: url("./fonts/raleway/Raleway-Medium.ttf");
	font-family: "Raleway Medium";
}

@font-face {
	src: url("./fonts/segoe/Segoe-UI-Bold.ttf");
	font-family: "Segoe UI Bold";
}

@font-face {
	src: url("./fonts/segoe/Segoe-UI-Bold.ttf");
	font-family: "Segoe UI Semibold";
}

:root {
	--orange: #f5381a;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;
	flex-direction: row;
	font-size: 0.8rem;
	font-family: "Raleway Regular", Tahoma, Geneva, Verdana, sans-serif;
}
.flx {
	display: flex;
}
.col {
	flex-direction: column;
}
.row {
	flex-direction: row;
}
.al-cnt {
	align-items: center;
}
.al-st {
	align-self: flex-start;
}
.al-c-st {
	align-items: flex-start;
}
.al-end {
	align-items: flex-end;
}
.js-spr {
	justify-content: space-around;
}

.full-width {
	width: 100%;
}
.border {
	border: 1px solid var(--orange);
	width: 6.9em;
	margin-bottom: 20px;
}

.left {
	background-color: #ffffff;
	flex: 1;
	width: 100%;
}

.btn1 {
	font-weight: 550;
	letter-spacing: 1px;
	border: none;
	background-color: var(--orange);
	color: #ffffff;
	font-size: 1rem;
	letter-spacing: 1px;
	width: 100%;
	padding: 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}

.btn1:hover {
	background-color: rgb(241, 106, 86);
}

.left ul {
	outline: none;
	height: fit-content;
	width: 28%;
	min-width: fit-content;
	align-items: center;
	justify-content: space-between;
	padding: 23px 0 23px 0;
	margin: 0;
}

.left li {
	list-style-type: none;
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.left p {
	font-size: 1.2em;
	margin: 0;
}
.left a {
	text-decoration: none;
	color: var(--orange);
}
form {
	width: 414px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
}

legend {
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--orange);
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.form_field {
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	margin: 5px;
	outline: 0;
	border: 1px solid var(--orange);
	border-radius: 4px;
	font-family: inherit;
}

.right {
	width: 100%;
	height: 100vh;
	background-color: white;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.black-bg {
	width: 100%;
	background-color: black;
	flex: 1;
	justify-content: center;
}

.black-bg h1 {
	font-size: 3.3em;
	color: white;
	text-align: left;
	margin: 30px 0 10px 0;
}

.black-bg p {
	font-size: 1.25em;
	font-weight: 300;
	color: white;
	text-align: left;
	line-height: 1.5em;
	margin-right: 20px;
	width: 80%;
}
.white-bg {
	padding-top: 20px;
	flex: 0.54;
	width: 60%;
}
.white-bg p {
	font-size: 1.2em;
}
.right .btn1 {
	margin: 0;
}
.info {
	margin: 46px;
	margin-top: 60px;
}
.info p {
	width: 100%;
}

.sm-icons {
	max-width: 235px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0 57px;
}

.sm-icon img {
	width: 42px;
}

.link {
	display: inline-block;
}
.link::after {
	content: "";
	border-bottom: 1px solid var(--orange);
	display: block;
	margin-top: 3px;
	width: 0%;
	transition: width 0.5s;
}

.link:hover::after {
	width: 100%;
}

.loading {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 4;
	background-color: white;
	width: 100vw;
	height: 100vh;
}

.hide {
	display: none;
}

/* Spinner Styles*/
.loader,
.loader:before,
.loader:after {
	background: #f5381a;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #f5381a;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: "";
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

/* Media queries */
@media only screen and (max-width: 1250px) {
	form {
		width: 70%;
	}
	.left,
	.right .btn1 {
		font-size: 0.8rem;
	}
	.left ul {
		width: 42%;
	}
}
@media only screen and (max-width: 750px) {
	body {
		flex-direction: column;
		padding-bottom: 60px;
	}
	.white-bg {
		padding-top: 8px;
		padding-bottom: 24px;
		width: 70%;
	}
	.left {
		order: 1;
		margin-bottom: 39px;
	}
	.left p {
		font-size: 1.37em;
	}
	.left ul {
		padding: 25px 0 25px 0;
	}
	.right {
		height: fit-content;
	}

	.left .btn1 {
		margin-top: 30px;
	}

	legend {
		margin-top: 26px;
		margin-bottom: 30px;
	}

	input {
		font-size: 16px;
		margin: 12px 0 12px 0;
		padding: 12px 0 12px 0;
	}

	.right img {
		width: 120px;
		height: auto;
	}
}
@media only screen and (max-width: 500px) {
	form {
		width: 74%;
	}
	.left ul {
		width: 58%;
		padding: 40px 0 30px 0;
	}
}
