:root {
	--blue: #2da7e2;
	--orange: #f5381a;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	src: url("../fonts/raleway/Raleway-Regular.ttf");
	font-family: "Raleway Regular";
}

@font-face {
	src: url("../fonts/raleway/Raleway-Bold.ttf");
	font-family: "Raleway Bold";
}

@font-face {
	src: url("../fonts/raleway/Raleway-SemiBold.ttf");
	font-family: "Raleway Semibold";
}

@font-face {
	src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
	font-family: "Raleway Extrabold";
}

@font-face {
	src: url("../fonts/raleway/Raleway-Medium.ttf");
	font-family: "Raleway Medium";
}

@font-face {
	src: url("../fonts/segoe/Segoe-UI-Bold.ttf");
	font-family: "Segoe UI Bold";
}

@font-face {
	src: url("../fonts/segoe/segoe-ui-semibold.ttf");
	font-family: "Segoe UI Semibold";
}

* {
	box-sizing: border-box;
	position: relative;
	padding: 0;
}

body {
	background-color: #f9f9f9;
	/*padding: 0 32px;*/
}

.navbar {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px 25px 40px;
}

.navbar__wrapper {
	display: flex;
	align-items: center;
}

.navbar__logo {
	height: 25px;
	margin-top: -30px;
}

.navbar__logo img {
	width: 100%;
	height: 100%;
	margin-bottom: 7px;
}

.navbar__title {
	color: #707070;
	font-family: "Segoe UI Semibold", sans-serif;
	font-size: 24px;
}

.navbar__links {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.navbar__link {
	font-size: 14px;
	font-family: "Raleway Regular", sans-serif;
	color: #768791;
	cursor: pointer;
}

.navbar__link:hover,
.navbar__link:active {
	color: var(--orange);
}

.navbar__link--active {
	font-family: "Raleway Bold", sans-serif;
	color: #263843;
}

.navbar__registration-links {
	display: flex;
	width: 220px;
	justify-content: space-between;
}

.navbar__registration-link {
	height: 36px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--orange);
	border-radius: 5px;
	font-family: "Raleway Bold", sans-serif;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

.sidenav__container {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 3;
	transform: scale(0);
	transition: opacity 300ms;
	opacity: 0;
}

.sidenav__container.active {
	transform: scale(1);
	opacity: 1;
}

.sidenav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 80%;
	max-width: 400px;
	background-color: white;
	transition: 500ms;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
	justify-content: space-between;
	transform: translateX(100%);
}

.sidenav__container.active .sidenav {
	transform: translateX(0);
}

.sidenav__btn {
	height: 26px;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 37px;
	right: 30px;
	z-index: 4;
	outline: none;
	display: none;
}

.sidenav__btn .bar {
	height: 5px;
	background-color: #343434;
	display: inline-block;
	width: 30px;
	border-radius: 3px;
	transition: 500ms;
	opacity: 1;
	top: 0;
	cursor: pointer;
}

.sidenav__btn--active {
	position: fixed;
}

.sidenav__btn--active .bar:nth-of-type(1) {
	transform: rotate(45deg);
	top: 10px;
}

.sidenav__btn--active .bar:nth-of-type(2) {
	opacity: 0;
}

.sidenav__btn--active .bar:nth-of-type(3) {
	transform: rotate(-45deg);
	top: -10px;
}

.sidenav__logo {
	height: 25px;
}

.sidenav__logo img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.sidenav__link {
	font-size: 24px;
	font-family: "Raleway Medium", sans-serif;
	margin: 40px 0;
	text-align: center;
	cursor: pointer;
}

.sidenav__link a {
	color: #7a7a7a;
	text-decoration: none;
}

.sidenav__link:hover a,
.sidenav__link:active a {
	color: var(--orange);
}

.sidenav-reg__links {
	display: flex;
}

.sidenav-reg__link {
	height: 40px;
	margin: 5px 10px;
	background-color: var(--orange);
	color: white;
	font-family: "Raleway Medium", sans-serif;
	width: 150px;
	border-radius: 3px;
	border: none;
}

.overlay--sidenav {
	display: none;
}

.overlay--sidenav.active {
	display: block;
}

.overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	left: 0;
}

.top-post {
	height: calc(100vh - 200px);
	margin: auto;
	padding: 10rem 8rem;
}

.top-post > * {
	z-index: 2;
}

.top-post__img {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.top-post__tag {
	font-family: "Raleway Semibold", sans-serif;
	font-size: 12px;
	color: white;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.top-post__tag img {
	width: 7px;
	margin-right: 5px;
}

.top-post__title {
	font-size: 24px;
	color: white;
	font-family: "Raleway Semibold", sans-serif;
	max-width: 700px;
	line-height: 1.2;
	margin-bottom: 25px;
	width: 80%;
}

.top-post__content {
	color: white;
	font-family: "Raleway Semibold", sans-serif;
	max-width: 700px;
	font-size: 1.2rem;
	margin-bottom: 25px;
}

.top-post__row {
	display: flex;
	justify-content: space-between;
}

.top-post__link {
	font-family: "Raleway Semibold", sans-serif;
	font-size: 12px;
	width: 150px;
	height: 40px;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.top-post__author-details {
	font-family: "Raleway Semibold", sans-serif;
	font-size: 20px;
	text-align: right;
	color: white;
}

.top-post__author {
	margin-bottom: 5px;
}

.post-scroll-buttons {
	display: flex;
	justify-content: right;
	position: absolute;
	bottom: 30px;
	right: 20px;
	z-index: 2;
}

.post-scroll-button {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(245, 56, 26, 0.51);
	border: none;
	margin-left: 5px;
}

.post-scroll-button img {
	width: 10px;
}

.post-scroll-button--active {
	background-color: rgba(245, 56, 26, 1);
}

main {
	display: grid;
	grid-template-columns: 1fr 1.78fr 1.25fr;
	grid-gap: 20px;
	margin-top: 40px;
	padding: 0 32px 20px;
}

.post-article-btn {
	background-color: #f8d7da;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
	border-radius: 3px;
	color: red;
	height: 40px;
	margin-bottom: 10px;
	font-family: "Raleway Medium", sans-serif;
}

.post-article-btn:hover,
.post-article-btn:active {
	background-color: var(--orange);
	color: #fff;
}

.categories {
	padding: 44px 47px 66px 39px;
	height: 600px;
	background-color: white;
	border-radius: 2px;
}

.categories__title {
	font-family: "Raleway Semibold", sans-serif;
	color: #263843;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(112, 112, 112, 0.16);
	margin-bottom: 26px;
}

.categories__category {
	margin-bottom: 30px;
	font-family: "Raleway Medium", sans-serif;
	font-size: 16px;
	color: #768791;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.categories__category:hover,
.categories__category:active,
.categories__category--active {
	font-family: "Raleway Bold", sans-serif;
	color: #263843;
}

.categories__category span {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 2px solid #c3ccd3;
	display: inline-flex;
	margin-right: 25px;
}

.categories__category:hover span,
.categories__category:active span,
.categories__category--active span {
	background-color: var(--blue);
	border: none;
}

.sidebar {
	background-color: white;
	padding: 34px 15px 38px 15px;
	height: fit-content;
}

.popular-posts__title,
.recent-posts__title {
	color: #263843;
	font-family: "Raleway Semibold", sans-serif;
	font-size: 14px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(112, 112, 112, 0.16);
	margin-bottom: 25px;
}

.post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.post__time {
	color: #c3ccd3;
	font-family: "Raleway Regular", sans-serif;
	font-size: 13px;
}

.post__title {
	width: 120px;
	color: #768791;
	font-size: 14px;
	font-family: "Raleway Medium", sans-serif;
	cursor: pointer;
}

.post__title:hover,
.post__title:active {
	color: var(--orange);
}

.gallery {
	margin-top: 50px;
}

.gallery__title {
	font-family: "Raleway Semibold", sans-serif;
	font-size: 14px;
	color: #263843;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(112, 112, 112, 0.16);
	margin-bottom: 33px;
}

.gallery__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px 16px;
	padding: 0 10px;
}

.gallery__grid img {
	width: 100%;
}

.article {
	padding: 20px 10px 25px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
	margin-bottom: 27px;
	transition: transform 0.5s;
}

.article:hover,
.article:active {
	transform: scale(1.05);
}

.article__img-wrapper {
	height: 300px;
}

.article__img {
	width: 100%;
	height: 100%;
}

.article__img-tag {
	width: 95px;
	height: 32px;
	display: flex;
	align-items: center;
	padding-left: 13px;
	font-size: 12px;
	color: white;
	font-family: "Raleway Bold", sans-serif;
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 5px;
}

.article__img-tag--black {
	background-color: black;
}

.article__img-tag--red {
	background-color: var(--orange);
	border-radius: 2px;
}

.article__title {
	font-family: "Raleway Extrabold", sans-serif;
	text-align: center;
	font-size: 26px;
	margin-top: 24px;
}

.article__title a {
	text-decoration: none;
	color: #263843;
}

.article__title:hover a,
.article__title:active a {
	color: var(--orange);
}

.article__details {
	color: #c3ccd3;
	font-size: 15px;
	font-family: "Raleway Regular", sans-serif;
	margin-top: 12px;
	text-align: center;
}

.article__synopsis {
	width: 88%;
	margin: 15px auto 0;
	text-align: center;
	color: #768791;
	font-family: "Raleway Medium", sans-serif;
	font-size: 14px;
	line-height: 1.3;
}

.article__metrics {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.article__views {
	display: flex;
}

.article__viewers {
	margin-left: 8px;
	display: flex;
	align-items: center;
}

.img-1 {
	left: -15px;
}

.img-2 {
	left: -30px;
}

.img-3 {
	left: -45px;
}

.article__viewers > span {
	font-family: "Raleway Regular", sans-serif;
	font-size: 15px;
	left: -40px;
	color: #c3ccd3;
}

.article__stats {
	display: flex;
}

.article__stat {
	display: flex;
	align-items: center;
	font-family: "Raleway Regular", sans-serif;
	font-size: 14px;
	color: #c3ccd3;
	margin-right: 10px;
}

.article__stat > span {
	margin-left: 5px;
	display: inline-block;
}

.article__page-links {
	display: flex;
	justify-content: center;
}

.article__page-link {
	width: 30px;
	height: 30px;
	border: 1px solid #c3ccd3;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	font-family: "Raleway Regular", sans-serif;
	color: #768791;
	font-size: 14px;
	cursor: pointer;
}

.article__page-link:hover,
.article__page-link:active,
.article__page-link--active {
	background-color: var(--blue);
	border: none;
	color: white;
}

.article__page-next-link {
	font-family: "Raleway Medium", sans-serif;
	color: var(--blue);
	position: absolute;
	right: 0;
	top: 8px;
	font-size: 14px;
	cursor: pointer;
	padding-bottom: 5px;
}

.article__page-next-link::after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--blue);
	width: 0;
	transition: width 0.5s ease-in;
}

.article__page-next-link:hover::after {
	width: 100%;
}

.single__article-main {
    display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 20px;
	margin-top: 40px;
    padding: 0 32px 20px;
    visibility: hidden;
	opacity: 0;
}

.single__article-page {
    grid-column: 2;
}

.single__article {
    padding: 70px 100px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}

.single__article-title {
    font-family: "Raleway Extrabold", sans-serif;
    font-size: 2.5rem;
    margin: 15px 0px;
}

.single__article-author {
    font-style: italic;
}

.single__article-img {
    margin: 20px 0;
    width: 100%;
    height: 300px;
}

.single__article-img img {
    width: 100%;
    height: 100%;
}

.single__article-content {
    font-size: 1.3rem;
}

footer {
	padding: 90px 0 37px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #263843;
	border: 1px solid #707070;
	min-height: 330px;
}

.footer-page-links {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
	max-width: 620px;
	justify-content: space-between;
	color: white;
}

.footer-page-link {
	font-family: "Raleway Medium", sans-serif;
	font-size: 16px;
}

.sm-icons {
	max-width: 235px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0 57px;
}

.copyright {
	font-family: "Raleway Medium", sans-serif;
	font-size: 12px;
	color: #c3ccd3;
	text-align: center;
	max-width: 90%;
	line-height: 1.5;
}

.sm-icon img {
	width: 42px;
}

.dsc-logo {
	height: 25px;
	position: absolute;
	right: 15%;
}

.loading {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 4;
	background-color: white;
	width: 100vw;
	height: 100vh;
}

.hide {
	display: none;
}

/* Spinner Styles*/
.loader,
.loader:before,
.loader:after {
	background: #f5381a;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #f5381a;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: "";
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

/* Tooltip */
/*== start of code for tooltips ==*/
.tool {
	cursor: help;
	position: relative;
}

/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
	left: 50%;
	opacity: 0;
	position: absolute;
	z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
	opacity: 1;
	transform: scale(1) translateY(0);
	z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
	border-style: solid;
	border-width: 1em 0.75em 0 0.75em;
	border-color: #3e474f transparent transparent transparent;
	bottom: 100%;
	content: "";
	margin-left: -0.5em;
	transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
		opacity 0.65s 0.5s;
	transform: scale(0.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
	transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tool::after {
	background: #3e474f;
	border-radius: 0.25em;
	bottom: 180%;
	color: #edeff0;
	content: attr(data-tip);
	margin-left: -8.75em;
	padding: 1rem;
	transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
	transform: scale(0.6) translateY(50%);
	width: 13em;
}

.tool:hover::after,
.tool:focus::after {
	transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
	.tool::after {
		font-size: 0.75em;
		margin-left: -5em;
		width: 10rem;
	}
}

.hidden {
    visibility: hidden;
    display: none;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}
.visible {
	visibility: visible;
    opacity: 1;
	transition: opacity 2s linear;
}

@media (max-width: 1050px) {
	.sidebar {
		grid-column: 2;
		margin-top: 40px;
	}
	main {
		grid-template-columns: 1fr 2fr;
	}
	footer {
		margin-top: 40px;
	}
}

@media (max-width: 875px) {
	.sidenav__btn {
		display: flex;
	}
	.navbar__links,
	.navbar__registration-links {
		display: none;
	}
}

@media (max-width: 800px) {
	.article__details {
		font-size: 12px;
	}
	.top-post {
		padding: 225px 5% 80px 10%;
		padding: 100px 5% 30px 10%;
	}
	.top-post__title {
		width: 80%;
	}
}

@media (max-width: 700px) {
	main {
		display: block;
	}
	.categories {
		margin-bottom: 40px;
	}
	.sidebar {
		grid-column: 1;
	}
	.categories {
		width: 100%;
		overflow: hidden;
		height: fit-content;
		padding: 20px;
		display: block;
		align-items: center;
	}
	.categories__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	.categories__category {
		margin: 0;
	}
}

@media (max-width: 475px) {
	main {
		padding: 0 15px 20px;
	}
	.sidenav-reg__links {
		flex-direction: column;
	}
	.article__metrics {
		flex-direction: column;
	}
	.article__views {
		margin-bottom: 10px;
	}
	.article__stats {
		margin-left: 20px;
	}
	.footer-page-link {
		width: 100px;
		text-align: center;
		margin: 10px auto;
	}
	.post {
		flex-direction: column;
	}
	.post__time {
		margin: 10px 0;
	}
	.post__title {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 350px) {
	.categories__list {
		grid-template-columns: 1fr;
		grid-gap: 13px;
	}
}

/* Tablet */
@media (min-height: 650px) and (max-width: 850px) {
	.top-post {
		height: calc(100vh - 500px);
		box-sizing: content-box;
	}
}

/* Mobile */
@media (max-width: 500px) {
    .navbar__logo p {
        font-size: .9rem;
    }
	.top-post__content,
	.top-post__author,
	.top-post__author-role {
		font-size: 0.9rem;
    }
}
